/********************
CSS template for my academic/project webpages.
Feel free to use/edit.
Credits appreciated.

(C) Abhinav Shrivastava, 2011
http://www.abhinav-shrivastava.info
********************/

pre code {
  display: block;
  background: none;
  white-space: pre;
  max-width: 80%;
  min-width: 100px;
  padding: 0;
  margin-left: 10%;
  margin-right: 10%;
  font-family: Consolas,Monaco,Lucida Console,Liberation Mono,DejaVu Sans Mono,Bitstream Vera Sans Mono,Courier New;
}

body {
  background-color: white;
  color: black;
  text-align:center;
}


#primarycontent a:link {
    color: #009;
    text-decoration: none;
}

#primarycontent a:visited {
    color: #00F;
    text-decoration: none;
    /*color: #8d9345; */
}

#primarycontent a:hover {
    text-decoration: underline;
}

#people {
	list-style-type: none;
	margin-left: 0px;
	padding-left: 10px;
}

#menu {
  list-style-type: none;
  margin-left: 10px;
  margin-right: 20px;
  padding-left: 10px;
}

#video {
  border: none;
}

#primarycontent {
  max-width: 1024px;
  width: expression(document.body.clientWidth > 1024? "1024px": "auto" );
  text-align: left;
  margin-left: auto;
  margin-right: auto;
  color: black;
  font-family: Arial, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 1.2em;
}

h4 {
    line-height: 200%;
}

p {
    line-height: 150%;
}

p.footer {
    font-size: x-small;
}

#primarycontent h3{
	border-bottom: 1px solid darkgray;
	text-align: left;
    padding: 0 0 0.2em 0.5em;
    margin: 2em 0 0 0;
}


.toggle{
	line-height:1.5em;
	background: #EAEAEA;
    border-bottom:1px solid #000;
	border-top:1px solid #000;
	cursor:pointer;
	font-size: 11pt;
	padding-left:0.8em;
	font-variant:small-caps;
}

.toggle:hover{
	background: #C8DFE1;
	text-decoration:none;
}

.toggle a {
	text-decoration:none;
	color: black;
}
.hiddenDiv{
	display:none;
}

.datatable {
  border-collapse: collapse;
  text-align: left;
  padding: 8px;
}

.datatable tr:nth-child(even){background-color: #f2f2f2;}

.figure {
  border-spacing: 2em .5em;
  padding: 0 2em 1em 0;
  border: 0px;
}